[user]
	name = Talut Salako
	email = salakotalut@gmail.com
	signingKey = /home/plutack/.ssh/id_ed25519.pub
	
# Conditional include for work repos
[includeIf "gitdir:/home/plutack/projects/resilience17/"]
    path = /home/plutack/.gitconfig-work
[push]
	autoSetupRemote = true
	followTags = true
[gpg]
	format = ssh
[commit]
	gpgSign = true
[core]
	editor = hx
	pager = delta 
	fsmonitor = true


# delta configuration
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	features = chameleon

[merge]
	conflictstyle = zdiff3

[diff]
	colormoved = plain
	algorithm = histogram
	mnemonicPrefix = true
	renames = true

[delta "chameleon"]
  # features
  dark = true
  tabs = 2
  line-numbers = true
  side-by-side = true
  keep-plus-minus-markers = false
  syntax-theme = Nord

  # file style
  file-style = "#434C5E" bold
  file-decoration-style = "#434C5E" ul
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]

  # hunk header style
  hunk-header-style = omit

  # line numbers style
  line-numbers-left-format = " {nm:>3} │"
  line-numbers-left-style = red
  line-numbers-right-format = " {np:>3} │"
  line-numbers-right-style = green
  line-numbers-minus-style = red italic black
  line-numbers-plus-style = green italic black
  line-numbers-zero-style = "#434C5E" italic

  # diff style
  minus-style = bold red # line removed
  minus-emph-style = bold "#202020" red # changed part of line
  minus-non-emph-style = bold # changed line backdrop
  plus-style = bold green # line added
  plus-emph-style = bold "#202020" green # changed part of line
  plus-non-emph-style = bold # changed line backdrop

  # unchanged lines style
  zero-style = syntax

  # style for git blame
  blame-code-style = syntax
  blame-format = "{author:<18} ({commit:>9}) {timestamp:^16}"
  blame-palette = "#2E3440" "#3B4252" "#434C5E" "#4C566A"

  # merge conflict style
  merge-conflict-begin-symbol = ~
  merge-conflict-end-symbol = ~
  merge-conflict-ours-diff-header-style = yellow bold
  merge-conflict-ours-diff-header-decoration-style = "#434C5E" box
  merge-conflict-theirs-diff-header-style = yellow bold
  merge-conflict-theirs-diff-header-decoration-style = "#434C5E" box


	
[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autoCorrect = prompt
[rerere]
	enabled = false
	autoUpdate = false
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[pull]
	rebase = true
[alias]
	cp = cherry-pick
